Repository kazuki-hanai/yumemi-frontend-task: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc.yml:

'*.{ts,tsx,css,scss}':
  - yarn lint
  - yarn format
'*.{json,md,yml}':
  - yarn format

Add build workflow
  .github/workflows/build-and-test.yml
Due: yarn format

Fix format error
  src/App.css
  src/App.tsx
  src/index.css
Due: yarn lint, yarn format

Install @emotion/css
  package.json
  yarn.lock
Due: yarn format

Add dependabot
  .github/dependabot.yml
Due: yarn format

Add PR template
  .github/pull_request_template.md
Due: yarn format

Add @emotion/react: to inject global styles
  package.json
  yarn.lock
Due: yarn format

Replace existing styles with @emotion/css
  src/App.css
  src/App.tsx
  src/index.css
  src/index.tsx
Due: yarn lint, yarn format

Remove @emotion/react and only use @emotion/css
  package.json
  yarn.lock
Due: yarn format

Implement wireframe
  src/App.tsx
  src/components/Header.tsx
  src/components/MainContent/PopulationChart.tsx
  src/components/MainContent/PrefectureCheckBoxes.tsx
  src/components/MainContent/index.tsx
  src/index.tsx
Due: yarn lint, yarn format

Init proxy-backend
  proxy-backend/go.mod
  proxy-backend/go.sum
Due: none

Initialize docker environment
  proxy-backend/Dockerfile
  proxy-backend/README.md
  proxy-backend/docker-compose.yml
Due: yarn format

Move .env.example
  proxy-backend/.env.example
Due: none

Implement prefectures
  proxy-backend/main.go
Due: none

Implement populationPerYear
  proxy-backend/main.go
Due: none

Add CORS settings
  proxy-backend/main.go
Due: none

Implement prefecture hook and define response types
  src/@types/ResesApi.ts
  src/hooks/usePrefectures.ts
Due: yarn lint, yarn format

Implement prefecture checkboxes
  src/components/MainContent/PrefectureCheckBoxes.tsx
Due: yarn lint, yarn format

Integrate Prefecture and Population types, Implement ResasApi hooks
  src/@types/ResesApi.ts
  src/components/MainContent/PrefectureCheckBoxes.tsx
  src/hooks/usePrefectures.ts
  src/hooks/useResasApi.ts
Due: yarn lint, yarn format

Implement context hooks
  src/context/ResasApiContext.ts
  src/hooks/useResasApiContextValue.ts
Due: yarn lint, yarn format

Define ENDPOINT
  src/constant/endpoint.ts
Due: yarn lint, yarn format

Check to use useContext and work well
  src/App.tsx
  src/components/MainContent/PopulationChart.tsx
  src/components/MainContent/PrefectureCheckBoxes.tsx
Due: yarn lint, yarn format

Install highcharts
  package.json
  yarn.lock
Due: yarn format

Implement line chart
  src/components/MainContent/PopulationChart.tsx
  src/index.tsx
Due: yarn lint, yarn format

Add Github Workflows: lint-and-build & build-and-deploy
  .github/workflows/build-and-deploy.yml
  .github/workflows/lint-and-build.yml
  .github/workflows/lint.yml
Due: yarn format

Fix some
  .github/workflows/build-and-deploy.yml
  .github/workflows/lint-and-build.yml
  .github/workflows/lint.yml
Due: yarn format

Fix syntax error
  .github/workflows/build-and-deploy.yml
  .github/workflows/lint-and-build.yml
Due: yarn format

Add Image URL
  proxy-backend/docker-compose.yml
Due: yarn format

Fix ENDPOINT
  src/constant/endpoint.ts
Due: yarn lint, yarn format

Deploying to gh-pages from @ wan-nyan-wan/yumemi-frontend-task@1f8a575f66bec8836d59f3980e92c59f901f066c 🚀
  _snowpack/env.js
  _snowpack/pkg/@emotion/css.js
  _snowpack/pkg/common/_commonjsHelpers-8c19dec8.js
  _snowpack/pkg/common/index-04edb6a1.js
  _snowpack/pkg/highcharts-react-official.js
  _snowpack/pkg/highcharts.js
  _snowpack/pkg/import-map.json
  _snowpack/pkg/react-dom.js
  _snowpack/pkg/react.js
  dist/App.js
  dist/components/Header.js
  dist/components/MainContent/PopulationChart.js
  dist/components/MainContent/PrefectureCheckBoxes.js
  dist/components/MainContent/index.js
  dist/constant/endpoint.js
  dist/context/ResasApiContext.js
  dist/hooks/useResasApiContextValue.js
  dist/index.js
  dist/logo.svg
  favicon.ico
  index.html
  robots.txt
Due: yarn format

Add wan-nyan-wan origin
  proxy-backend/main.go
Due: none

Add snowpack bundle settings
  snowpack.config.mjs
  src/index.tsx
Due: yarn lint, yarn format

Deploying to gh-pages from @ wan-nyan-wan/yumemi-frontend-task@7517b3b7a80622fa2908ec0a0edfce3284e78483 🚀
  _snowpack/env.js
  _snowpack/pkg/@emotion/css.js
  _snowpack/pkg/common/_commonjsHelpers-8c19dec8.js
  _snowpack/pkg/common/index-04edb6a1.js
  _snowpack/pkg/highcharts-react-official.js
  _snowpack/pkg/highcharts.js
  _snowpack/pkg/import-map.json
  _snowpack/pkg/react-dom.js
  _snowpack/pkg/react.js
  dist/App.js
  dist/components/Header.js
  dist/components/MainContent/PopulationChart.js
  dist/components/MainContent/PrefectureCheckBoxes.js
  dist/components/MainContent/index.js
  dist/constant/endpoint.js
  dist/context/ResasApiContext.js
  dist/hooks/useResasApiContextValue.js
  dist/index.js
  dist/index.js.map
  index.html
Due: yarn format

Fix baseUrl config
  snowpack.config.mjs
Due: none

Add snowpack-plugin-baseurl-handler and fix configs
  package.json
  public/index.html
  snowpack.config.mjs
  yarn.lock
Due: yarn format

Remove snowpack-plugin-baseurl-handler
  package.json
  yarn.lock
Due: yarn format

Add baseUrl setting
  public/index.html
  snowpack.config.mjs
Due: none

Deploying to gh-pages from @ wan-nyan-wan/yumemi-frontend-task@aaae8f1fd37edeb888dc1600ed8c48633b914c5c 🚀
  index.html
Due: none

Add README.md
  README.md
Due: yarn format
